NODE_ENV=development
DATABASE_URL=postgresql://comercia:comercia_dev_password@localhost:5433/comercia_erp?schema=public
API_PORT=3001
WEB_PORT=3000
JWT_SECRET=change_me_in_local_env
JWT_REFRESH_SECRET=change_me_in_local_env
